## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey as g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bengkulu,ID,83.77,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
1,2,Georgetown,MY,80.53,scattered clouds,5.4112,100.3354,Cititel Penang
2,4,Salalah,OM,77.09,overcast clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,5,Pringsewu,ID,84.72,broken clouds,-5.3582,104.9744,Urban Style by Front One
4,8,Kahului,US,78.82,few clouds,20.8947,-156.4700,Maui Seaside Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
# <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
# hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
# city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
# locations = clean_hotel_df[["Lat", "Lng"]]
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,
#                                  info_box_content=city_info)
                                  info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [157]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Oyama")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Oyama")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Hasaki")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Katsuura")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Shimoda")]

In [305]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]                       
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [306]:
print(f"   start: {start}\n\
   end:   {end}\n\
   stop1: {stop1}\n\
   stop2: {stop2}\n\
   stop3: {stop3}")

   start: (36.3, 139.8)
   end:   [ 36.3 139.8]
   stop1: [ 35.7333 140.8333]
   stop2: [ 35.1333 140.3   ]
   stop3: (34.6667, 138.95)

In [344]:
start = pd.DataFrame({"Lat": vacation_end["Lat"], "Lng": vacation_end["Lng"]}).to_numpy()[0]
print(type(start), start[0], start[1], start)

<class 'numpy.ndarray'> 36.3 139.8 [ 36.3 139.8]

In [313]:
type(end), end[0], end[1]

(numpy.ndarray, 36.3, 139.8)

In [343]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

start2end_via_stops1to3 = gmaps.directions_layer(start, end
                                , waypoints=[stop1, stop2, stop3]
                                , travel_mode="DRIVING"
                                #, avoid_ferries=True, optimize_waypoints=True
                                #, show_markers=True, show_route=True
                                )

fig.add_layer(start2end_via_stops1to3)

fig

Figure(layout=FigureLayout(height='420px'))

In [330]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,501,Oyama,JP,85.59,overcast clouds,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1
1,250,Hasaki,JP,81.28,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
2,377,Katsuura,JP,80.62,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
3,50,Shimoda,JP,82.76,light rain,34.6667,138.9500,Shimoda Tokyu Hotel

In [331]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [341]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,
                                 info_box_content=hotel_info)
fig = gmaps.figure(center=end, zoom_level=3.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))